{% extends "::base.html.twig" %}

{% block title %}PlsiRadiodjBundle:songs:show{% endblock %}

{% block body %}
    {{ dump(id) }}
    {{ dump(songs) }}
<h1>Welcome to the songs:show page</h1>
{% endblock %}
